.driving-mode-container {
    color: white;
    background-color: #000; /* or the background color you need */
    padding: 40px;
    font-family: 'Arial', sans-serif; /* Use your preferred font */
    text-align: center;
  }
  
  .tagline {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  
  .statistics {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .statistic {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .stat-icon {
    /* Placeholder for actual icons, use a background image or an img tag */
    margin-bottom: 10px;
  }
  
  .stat-count {
    font-size: 2em;
    font-weight: bold;
  }
  
  .stat-label {
    font-size: 1em;
  }
  
  .achievements {
    background: #222; /* Darker background for the achievements section */
    padding: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Add some shadow for depth */
    margin-bottom: 30px;
  }
  
  .achievement {
    margin: 20px 0;
  }
  
  .progress-bar {
    background-color: #555;
    border-radius: 10px;
    overflow: hidden; /* Ensures the inner bar stays within the border radius */
    height: 20px;
    width: 80%; /* Control the width as per your layout requirement */
    margin: auto; /* Centering the progress bar */
  }
  
  .progress {
    background-color: #22dd22;
    height: 100%;
    border-radius: 10px; /* Rounded corners on the progress bar */
    transition: width 0.3s ease;
  }
  