.maintenance-page-container {
    padding: 20px;
}

.maintenance-videos-container {
    font-size: 24px;
    text-align: center;
    padding: 20px;
    background-color: #f3601c;
    border: 4px solid gray;
    border-radius: 8px;
    margin-bottom: 20px;
    color: white;
}

.videos-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-template-rows: repeat(3, auto); /* Three rows */
    grid-gap: 20px; /* Gap between grid items */
}

.video-description-container {
    font-size: 24px;
    text-align: center;
    padding: 10px;
    background-color: grey;
    border: 4px solid #f3601c;
    border-radius: 8px;
    margin-bottom: 10px;
    color: white;
}

.player-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the player horizontally */
}

.description-box {
    border: 4px solid #f3601c; /* Border style */
    background-color: white; /* White background */
    padding: 10px; /* Padding around the text */
    display: inline-block; /* Ensure the box size matches the text content */
    color: black; /* Text color */ /* Customize the border color and style */
}