.total-distance {
    position: absolute;       /* or `fixed` depending on your needs */
    z-index: 1000;            /* High z-index to ensure it's above other elements */
    bottom: 20px;             /* Positioning from the bottom of the map container */
    left: 20px;               /* Positioning from the left of the map container */
    width: auto;              /* Or specify a width */
    background-color: #050505;   /* Background color for visibility */
    text-emphasis: bold;
  }
  .total-distance-but {
    position: fixed;      /* Fixed positioning relative to the viewport */
    bottom: 10px;         /* 10 pixels from the bottom */
    right: 10px;           /* 10 pixels from the left */
    z-index: 1000;        /* Ensure it stays on top of other content */
    padding: 10px 20px;   /* Padding for better appearance */
    background-color: #007bff; /* Background color */
    color: white;         /* Text color */
    border: none;         /* No border */
    border-radius: 5px;   /* Rounded corners */
    cursor: pointer;      /* Pointer cursor on hover */
  }